html, body {
	height:100%;
	margin: 0;
}

html {
	overflow: hidden;
}

body {
	width: 100%;
}

.slider {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:#d4d4d4;
	overflow:hidden;
	-ms-overflow-style:none;
}

.slide {
	display:inline-block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-height:100%;
	top:0;
	left:100%;
	z-index: 1;
	background-size:cover;
	background-position:50% 20%;
	background-repeat:no-repeat;
}

.slide img {
	border:none;
}

.overlay {
	position:fixed;
	z-index:100;
	top:0;
	left:0;
	height:100%;
	width: 100%;
	cursor:pointer;
}

.wrapper {
	display:block;
	position:relative;
	height:100%;
	width: 768px;
	margin: 0 auto;
}

.slide.active {
	left:0;
}

.left {
	left:-100%;
}

.right {
	left:100%;
}

.animating .slide {
	-webkit-transition: left 1s;	
	-moz-transition: left 1s;
	-o-transition: left 1s;
	transition: left 1s;
}

.controls {
	position:absolute;
	top: 39px;
	right: 16px;
}

.logo {
	position:absolute;
	bottom:16px;
	right:16px;
	height:93px;
	width:111px;
	background:url('../images/ca_768x520.png') no-repeat;
	background-size:contain;
}

.dot {
	display:inline-block;
	width: 26px;
	height: 26px;
	background-image:url('../images/knob_white.png');
	background-size:12px 12px;
	background-position:center;
	background-repeat:no-repeat;
	opacity:0.75;
}

.dot:hover {
	opacity:0.9;
}

/* while being clicked, and after was clicked */
/* however opacity will revert to 0.75 once mouse is released */
.dot:hover:active, .dot.active { 
	background-image:url('../images/knob_yellow.png');
}

/* no hover highlight for current slide, or while an animation is in progress */
.dot.active:hover, body.animating .dot:hover {
	opacity:0.75;
}

